<section class="banner">
    <div class="wrapper">
        <h1 class="title">
            Участвуйте в гиперрозыгрыше!
        </h1>
        <a href="#" class="button">
            РЕГИСТРИРУЙТЕСЬ
            В РОЗЫГРЫШЕ
        </a>
        <div class="banner__text">
            С 15 сентября по 12 октября 2022 года
        </div>
        <a href="https://www.youtube.com/watch?v=FlsCjmMhFmw" data-fancybox class="video">
            <div class="video__bg">
                <img src="./static/img/content/video.jpg" alt="Видео фон">
            </div>
            <div class="video__btn">
                <img src="./static/img/content/play.svg" alt="Воспроизвести">
            </div>
        </a>
        <div class="banner__img">
            <img src="./static/img/content/banner.png" alt="Главный приз">
        </div>
        <div class="banner__years">
            <img src="./static/img/content/years.png" alt="20 лет">
        </div>
    </div>
</section>