.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51,0);
    opacity: 0;
    z-index: 10;
    display: flex;
    transition: 0.3s;
    pointer-events: none;
    visibility: hidden;
    &.active{
        background: rgba(51, 51, 51,0.7);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    &.popup__feedback{
        .popup__container{
            width: 555px;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__container{
        max-width: calc(100vw - 40px);
        width: 1020px;
        padding: 30px;
        background: #FFFFFF;
        border: 3px solid #000000;
        border-radius: 8px;
        margin: auto;
        position: relative;
        max-height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
    }
    &__button{
        width: 260px;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'IBM Plex Sans';
        text-align: center;
        background: #FF0007;
        border-radius: 4px;
        padding: 17px 0;
        margin: 20px auto 0 auto;
        border: 1px solid #FF0007;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            color: #FF0007;
            background: transparent;
        }
    }
    &__title{
        font-family: 'Akrobat';
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 20px;
    }
    &__close{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    &__content{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-right: 5px;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        h2{
            margin-bottom: 13px;
            font-family: 'Akrobat';
            font-weight: 900;
            font-size: 26px;
            line-height: 140%;
            color: #333333;
            &:first-child{
                text-align: center;
            }
        }
        p{
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            color: #333333;
            margin-bottom: 10px;
        }
        table{
            border-collapse: collapse;
            align-self: baseline;
            td, th{
                border: 1px solid #000;
                padding: 3px 5px;
            }
            th{
                font-weight: bold;
            }
        }
        &::-webkit-scrollbar { /* 1 - скроллбар */
            width: 15px;
            background-color: #EFEFEF;
        }
        &::-webkit-scrollbar-thumb { /* 5 - ползунок */
            background-color: #000000;
        }
        & > *{
            flex-shrink: 0;
        }
    }
}

input{
    padding: 14px 19px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000;
    border: 1px solid #333333;
    border-radius: 4px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    &::placeholder{
        color: #333333;
    }
}
textarea{
    resize: none;
    height: 217px;
    padding: 14px 19px;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000;
    border: 1px solid #333333;
    border-radius: 4px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    &::placeholder{
        color: #333333;
    }
}
.mobile-menu{
    position: fixed;
    left: 0;
    top: -100vh;
    z-index: 4;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;
    transition: 0.3s;
    &.active{
        top: 93px;
    }
    .nav__link{
        font-weight: 350;
        font-size: 20.2505px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin: 0;
        padding: 13px 0px 9px 0px;
        border-bottom: 1px solid #B6B6B6;
        &:last-child{
            border-bottom: none;
        }
        &::before{
            display: none;
        }
    }
    .nav__link.nav__link-red{
        color: #FF0007;
    }
}
.header-mobile-menu-btn{
    cursor: pointer;
}
@media only screen and (max-width: 760px){
    .mobile-menu.active{
        top: 63px;
    }
    .popup{
        &__container{
            margin: auto 0 0 0;
            width: 100%;
            max-width: 100%;
            max-height: calc(100vh - 100px);
            border: none;
            border-radius: 8px 8px 0 0;
            padding: 16px;
            transform: translateY(50px);
            transition: 0.3s;

        }
        &.active{
            .popup__container{
                transform: translateY(0);
            }
        }
    }
    .popup.popup__feedback .popup__container{
        width: 100%;
    }
    .popup__title{
        font-size: 16.7143px;
        line-height: 140%;
    }
    .popup__content h2{
        font-size: 16.7143px;
        line-height: 140%;
        color: #333333;
    }
    .popup__content p, .popup__content table, .popup__content{
        font-size: 11.5714px;
        line-height: 140%;
    }
    .popup__button{
        font-size: 14.3305px;
        line-height: 140%;
        margin-top: 10px;
    }
}
