<footer class="footer">
    <div class="wrapper">
        <div class="info">
            <div class="info__text">
                <span>ООО «О’КЕЙ»</span><br>    
                Юридический адрес: 195213 г. Санкт-Петербург,<br>
                Заневский пр-т, д. 65, корп. 1 лит. А, пом. 1<br>
                ИНН: 7826087713   ОГРН: 1027810304950
            </div>
            <a href="#" data-document-src="docs/politic.docx" data-type="iframe" data-fancybox class="politic">
                Политика конфиденциальности
            </a>
            <div class="copyright">
                © 2021 — 2022. Все права защищены
            </div>
        </div>
        <div class="tel">
            <div class="footer__title">
                Горячая линия Окей:
            </div>
            <a href="tel:88002500008" class="tel__number">
                8 800 250 00 08
            </a>
        </div>
        <div class="social">
            <div class="footer__title">
                Окей в соцсетях
            </div>
            <div class="social__container">
                <a href="https://vk.com/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-1.svg" alt="">
                </a>
                <a href="https://ok.ru/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-2.svg" alt="">
                </a>
                <a href="https://www.youtube.com/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-3.svg" alt="">
                </a>
                <a href="https://web.telegram.org/z/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-4.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>