<footer class="footer">
    <div class="wrapper">
        <div class="info">
            <div class="info__text">
                <span>ООО «Окей»</span><br>    
                Адрес 197374 г. Санкт-Петербург,<br>
                ул. Савушкина, д.112, Литера Б<br>
                ИНН: 5015015563   ОГРН: 1184752019491
            </div>
            <a href="./docs/politic.txt" download class="politic">
                Политика конфиденциальности
            </a>
            <div class="copyright">
                © 2021 — 2022. Все права защищены
            </div>
        </div>
        <div class="tel">
            <div class="footer__title">
                Горячая линия Окей:
            </div>
            <a href="tel:88002500008" class="tel__number">
                8 800 250 00 08
            </a>
        </div>
        <div class="social">
            <div class="footer__title">
                Окей в соцсетях
            </div>
            <div class="social__container">
                <a href="https://vk.com/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-1.svg" alt="">
                </a>
                <a href="https://ok.ru/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-2.svg" alt="">
                </a>
                <a href="https://www.youtube.com/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-3.svg" alt="">
                </a>
                <a href="https://web.telegram.org/z/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-4.svg" alt="">
                </a>
                <a href="https://www.tiktok.com/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-5.svg" alt="">
                </a>
                <a href="https://zen.yandex.ru/" target="_blank" class="social__item">
                    <img src="./static/img/content/social-6.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>