<header class="header">
    <div class="header__block">
        <a href="./" class="logo">
            <img src="./static/img/content/logo.png" alt="Логотип">
        </a>
    </div>
    

    <nav class="nav">
        <a href="#" class="nav__link" data-popup-open="popup__rules">Правила акции</a>
        <a href="#" class="nav__link" data-popup-open="popup__shops">Магазины</a>
        <a href="#" class="nav__link" data-popup-open="popup__feedback">Обратная связь</a>
        <a href="./index.html#mechanics" class="nav__link">Призы</a>
        <a href="./index.html#partners" class="nav__link">Партнеры</a>
        <a href="./results.html" class="nav__link nav__link-red">Победители</a>
    </nav>

    <div class="header__block">
        <a href="#" class="header__button">
            РЕГИСТРИРУЙТЕСЬ
            В РОЗЫГРЫШЕ
        </a>
    </div>
</header>