<header class="header">
    <div class="header__block">
        <a href="./" class="logo">
            <img src="./static/img/content/logo.png" alt="Логотип">
        </a>
    </div>
    

    <nav class="nav">
        <a href="#" class="nav__link" data-popup-open="popup__rules">Правила акции</a>
        <a href="#" class="nav__link" data-popup-open="popup__shops">Магазины</a>
        <a href="#" class="nav__link" data-popup-open="popup__feedback">Обратная связь</a>
        <a href="./index.html#mechanics" class="nav__link">Призы</a>
        <a href="./index.html#partners" class="nav__link">Партнеры</a>
        <a href="./results.html" class="nav__link nav__link-red">Победители</a>
    </nav>

    <div class="header__block">
        <a href="#" class="header__button">
            РЕГИСТРИРУЙТЕСЬ
            В РОЗЫГРЫШЕ
        </a>
    </div>
    <div class="header-mobile-menu-btn">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 7.5C2.75 6.94772 3.19772 6.5 3.75 6.5H26.25C26.8023 6.5 27.25 6.94772 27.25 7.5C27.25 8.05228 26.8023 8.5 26.25 8.5H3.75C3.19772 8.5 2.75 8.05228 2.75 7.5ZM2.75 15C2.75 14.4477 3.19772 14 3.75 14L26.25 14C26.8023 14 27.25 14.4477 27.25 15C27.25 15.5523 26.8023 16 26.25 16L3.75 16C3.19772 16 2.75 15.5523 2.75 15ZM3.75 21.5C3.19772 21.5 2.75 21.9477 2.75 22.5C2.75 23.0523 3.19772 23.5 3.75 23.5H26.25C26.8023 23.5 27.25 23.0523 27.25 22.5C27.25 21.9477 26.8023 21.5 26.25 21.5H3.75Z" fill="black"/>
        </svg>
    </div>
</header>