<section class="mechanics" id="mechanics">
    <h2 class="mechanics__title section__title">
        Механика
        <img src="./static/img/content/mechanic-title-desc.png" alt="Подложка заголовка">
    </h2>
    <div class="week">
        <div class="m-title">
            ВЫИГРЫВАЙТЕ ЕЖЕНЕДЕЛЬНЫЕ ПРИЗЫ
        </div>
        <div class="steps">
            <div class="steps__container" data-border="./static/img/content/step-border.svg">
                <div class="step">
                    <div class="step__num">1</div>
                    <div class="step__bg">
                        <img src="./static/img/content/step-1.png" alt="">
                    </div>
                    <div class="step__text">
                        Регистрируйтесь на&nbsp;<a href="">okmarket.ru</a>
                    </div>
                </div>
                <div class="step">
                    <div class="step__num">2</div>
                    <div class="step__bg">
                        <img src="./static/img/content/step-2.png" alt="">
                    </div>
                    <div class="step__text">
                        СОВЕРШАЙТЕ ПОКУПКИ с картой О'КЕЙ
                    </div>
                </div>
                <div class="step">
                    <div class="step__num">3</div>
                    <div class="step__bg">
                        <img src="./static/img/content/step-3.png" alt="">
                    </div>
                    <div class="step__text">
                        получайте билет в&nbsp;розыгрыш
                        <span>за каждую 1000 ₽ в чеке</span>
                    </div>
                </div>
            </div>
            <div class="steps__info">
                <img src="./static/img/content/step-info-week.svg" alt="">
            </div>
        </div>
        <div class="week__prizes">
            <div class="wrapper">
                <div class="week__prize">
                    <div class="week__prize-img">
                        <img src="./static/img/content/week-prize-1.png" alt="">
                    </div>
                    <div class="week__prize-text">
                        Подписки Яндекс Плюс и Яндекс 360, Бонусы от Яндекс Практикума
                    </div>
                </div>
                <div class="week__prize">
                    <div class="week__prize-img">
                        <img src="./static/img/content/week-prize-2.png" alt="">
                    </div>
                    <div class="week__prize-text">
                        Золотой билет на участие в финальном розыгрыше
                    </div>
                </div>
                <div class="week__prize">
                    <div class="week__prize-img">
                        <img src="./static/img/content/week-prize-3.png" alt="">
                    </div>
                    <div class="week__prize-text">
                        Главный приз автомобиль и 1 000 000 ₽ на драгоценности от SOKOLOV
                    </div>
                </div>
                <div class="week__prize">
                    <div class="week__prize-img">
                        <img src="./static/img/content/week-prize-4.png" alt="">
                    </div>
                    <div class="week__prize-text">
                        Подписки на 3 или 12 месяцев
                    </div>
                </div>
                <div class="week__prize">
                    <div class="week__prize-img">
                        <img src="./static/img/content/week-prize-5.png" alt="">
                    </div>
                    <div class="week__prize-text">
                        Подарочные сертификаты на 4 000 ₽
                        9,5 млн серебряных подвесок 
                    </div>
                </div>
            </div>
        </div>
        <div class="week__bg">
            <img src="./static/img/content/prize1.png" alt="">
            <img src="./static/img/content/prize2.png" alt="">
        </div>
    </div>
    <div class="cash">
        <div class="m-title">
            Выиграйте на кассе 
        </div>
        <div class="steps">
            <div class="steps__container" data-border="./static/img/content/step-border.svg">
                <div class="step">
                    <div class="step__num">1</div>
                    <div class="step__bg">
                        <img src="./static/img/content/step-1.png" alt="">
                    </div>
                    <div class="step__text">
                        Регистрируйтесь на&nbsp;<a href="">okmarket.ru</a>
                    </div>
                </div>
                <div class="step">
                    <div class="step__num">2</div>
                    <div class="step__bg">
                        <img src="./static/img/content/step-2.png" alt="">
                    </div>
                    <div class="step__text">
                        СОВЕРШАЙТЕ ПОКУПКИ <span>ОТ 2000 ₽ С КАРТОЙ О'КЕЙ</span>
                    </div>
                </div>
                <div class="step">
                    <div class="step__num">3</div>
                    <div class="step__bg">
                        <img src="./static/img/content/step-4.png" alt="">
                    </div>
                    <div class="step__text">
                        ВЫИГРЫВАЙТЕ<br>призы
                    </div>
                </div>
            </div>
            <div class="steps__info">
                <img src="./static/img/content/step-info-cash.svg" alt="">
            </div>
        </div>
        <div class="cash__prizes">
            <div class="wrapper">
                <div class="cash__prize">
                    <div class="cash__prize-img">
                        <img src="./static/img/content/cash-prize-1.png" alt="">
                    </div>
                    <div class="cash__prize-text">
                        Подписки Яндекс Плюс и Яндекс 360, Бонусы от Яндекс Практикума
                    </div>
                </div>
                <div class="cash__prize">
                    <div class="cash__prize-img">
                        <img src="./static/img/content/cash-prize-2.png" alt="">
                    </div>
                    <div class="cash__prize-text">
                        30 дней подписки + 4 фильма в 4К разрешении
                    </div>
                </div>
            </div>
        </div>
        <div class="cash__bg">
            <img src="./static/img/content/prize3.png" alt="">
            <img src="./static/img/content/prize4.png" alt="">
            <img src="./static/img/content/prize5.png" alt="">
            <img src="./static/img/content/prize6.png" alt="">
        </div>
    </div>
</section>