.mainprize{
    padding-top: 50px;
    &__title{
        margin-bottom: 110px;
    }
    &__wintitle{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 30px rgba(9, 42, 66, 0.5);
    }
    &__list{
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    &__num{
        font-size: 20px;
        line-height: 40px;
        color: #FFFFFF;
        text-align: center;
    }
    &__img{
        width: 580px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__name{
        font-weight: bold;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        display: block;
    }
    .video{
        width: 790px;
        height: 400px;
        margin: 0 auto 45px auto;
    }
}
@media only screen and (max-width: 1350px) {
    .mainprize__list{
        flex-direction: column;
        align-items: center;
    }
    .mainprize__item{
        margin-bottom: 60px;
        &:last-child{
            margin-bottom: 30px;
        }
    }
}
@media only screen and (max-width: 850px){
    .mainprize .video{
        width: 100%;
        position: relative;
        height: auto;
    }
    .mainprize .video__bg{
        padding-bottom: 50.63%;
        height: 0;
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}
@media only screen and (max-width: 760px){
    .mainprize__title{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 480px){
    .mainprize__wintitle{
        font-size: 30px;
        line-height: 40px;
    }
    .mainprize__img{
        width: 100%;
        height: auto;
    }
    .mainprize__name{
        font-size: 19px;
        line-height: 25px;
    }
}