<section class="mainprize">
    <h2 class="mainprize__title section__title">
        гиперрозыгрыш
        <img src="./static/img/content/partners-title-desc.png" alt="Подложка заголовка">
    </h2>
    <a href="https://www.youtube.com/watch?v=FlsCjmMhFmw" data-fancybox class="video">
        <div class="video__bg">
            <img src="./static/img/content/video.jpg" alt="Видео фон">
        </div>
        <div class="video__btn">
            <img src="./static/img/content/play.svg" alt="Воспроизвести">
        </div>
        <div class="video__title">
            Финальный розыгрыш главных призов, 29 октября
        </div>
    </a>
    <div class="mainprize__results">
        <div class="mainprize__wintitle">
            Победители
        </div>
        <div class="mainprize__list">
            <div class="mainprize__item">
                <div class="mainprize__num">
                    Иван, +7 ХХХ ХХХ 64 64
                </div>
                <div class="mainprize__img">
                    <img src="./static/img/content/mainprize1.png" alt="">
                </div>
                <div class="mainprize__name">
                    1 000 000 ₽ на драгоценности<br> от SOKOLOV
                </div>
            </div>
            <div class="mainprize__item">
                <div class="mainprize__num">
                    Иван, +7 ХХХ ХХХ 64 64
                </div>
                <div class="mainprize__img">
                    <img src="./static/img/content/mainprize2.png" alt="">
                </div>
                <div class="mainprize__name">
                    Главный приз автомобиль
                </div>
            </div>
        </div>
    </div>
</section>