<section class="partners" id="partners">
    <h2 class="partners__title section__title">
        партнеры
        <img src="./static/img/content/partners-title-desc.png" alt="Подложка заголовка">
    </h2>
    <div class="partners__container">
        <div class="partners__img">
            <img src="./static/img/content/partners.svg" alt="">
        </div>
        <div class="partners__text">
            За покупку товаров-партнеров акции
        </div>
        <div class="partners__list hide-more">
            <a href="#" target="_blank" class="partner">
                <img src="./static/img/content/partner-1.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-2.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-3.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-4.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-5.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-6.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-7.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-8.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-9.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-10.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-11.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-12.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-13.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-14.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-15.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-16.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-17.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-18.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-19.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-20.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-21.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-22.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-23.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-24.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-25.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-26.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-27.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-28.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-29.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-30.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-31.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-32.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-33.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-34.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-35.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-36.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-37.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-38.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-39.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-40.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-41.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-42.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-43.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-44.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-45.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-46.png" alt="">
            </a>
            <a href="#" target="_blank"  class="partner">
                <img src="./static/img/content/partner-47.png" alt="">
            </a>
            <div class="partner-button-container">
                <div class="button-visible-more">
                    показать Больше партнёров
                </div>
            </div>
        </div>
    </div>
    <div class="partners__bg">
        <img src="./static/img/content/prize7.png" alt="">
    </div>
</section>